<div class="container">
  <div class="coments">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">

          <p class="field">
            <strong>Commenter:</strong>
            <%= comment.author.full_name  %>
          </p>

          <p class="field">
            <strong>Comment:</strong>
            <%= comment.comment %>
            </p>
            <p>
              <% if current_user %>
                <% if @current_user.id == comment.author_id or @current_user.admin == true %>
                  <%= link_to 'Destroy Comment', [comment.post, comment],
                              method: :delete,
                              data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-outline-danger' %>



                  <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>




                <% end  %>
              <% end  %>
            </p>
         </div>
      </div>
    </div>
  </div>
</div>
