<div class="container">
  <div class="coments">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">

          <p class="field">
            <strong>Commenter:</strong>
            <%= comment.commenter_name %>
          </p>

          <p class="field">
            <strong>Comment:</strong>
            <%= comment.comment %>
            </p>

            <p>
                <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-outline-danger' %>
            </p>
         </div>
      </div>
    </div>
  </div>
</div>