<div class="modal fade" id="modal_window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">JOIN TO OUR PARTY</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Please, log in or sign up to create posts and comments!
      </div>
      <div class="modal-footer">
        <%= link_to 'Sign Up', signup_path, class: 'btn btn-outline-primary'  %>
        <%= link_to 'Log In', login_path, class: 'btn btn-outline-primary'  %>
      </div>
    </div>
  </div>
</div>